<% include partials/header %>

<% if(foundStudent.length == 0){ %> 
<div class="container" style="padding = 50px;">
    <h1>Result Not Found <i class="em em-anguished"></i> </h1>
</div>
<% } 
for(var i=0; i < foundStudent.length; i++) { %>
<div class="container" >
	<h5><%= foundStudent[i].NAME %> | REGNO:  <%= foundStudent[i].REGNO %> |  BATCH: <%= foundStudent[i].BATCH %></h5>
	<table class="table table-bordered">
 		<tr>
 			<th>Subject</th>
 			<th>Grade</th>
            <th>Action <%= foundStudent.subject %></th>
 		</tr>
 		
 		<%  var entry;
			var name;
			entry = foundStudent[i].SEM6;
			for(name in entry){ %>
				<tr>
				<td> <%= name %>:</td> <% 
				if (entry.hasOwnProperty(name)) {
				    var val = entry[name];
				    
				  }
				 if(name == foundStudent.subject){ %>
                    <form method="POST" action="/staff-mark-view/student-grade-change">
                         <td>
                            <input type="hidden" class="form-control" value="<%= foundStudent[i]._id %>" name="changeId"></input>
                            <input type="hidden" class="form-control" value="<%= foundStudent[i]._id %>" name="changeId"></input>
                            <input type="text" class="form-control" value="<%= val %>" name="changedGrade"></input>
                         </td>
                         <td style="text-align: center;">
                            <button class="btn btn-default">Submit</button>
                         </td>
                     </form>
                 <% }else{ %>
                        <td><%= val %></td>
                        <td></td>
                 <% } %>
                  
                 
				 </tr>
			<% } %>
	</table>

</div>
<% } if(foundStudent.length != 0){ %>
<div class="container">
	<canvas id="myChart"></canvas>

</div>
<script>
var ctx = document.getElementById("myChart");
ctx.height = 100;
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: 'Number of Students',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
<% }else{} %>
</script>
</div>