<% include partials/header %>
<% for(var i=0; i < foundStudent.length; i++) { %>
<div class="container">
	<h5><%= foundStudent[i].NAME %> | REGNO:  <%= foundStudent[i].REGNO %> |  BATCH: <%= foundStudent[i].BATCH %></h5>
	<table class="table table-bordered">
 		<tr>
 			<th>Subject</th>
 			<th>Grade</th>
 		</tr>
 		
 		<%  var entry;
			var name;
			entry = foundStudent[i].SEM1;
			for(name in entry){ %>
				<tr>
				<td> <%= name %>:</td> <% 
				if (entry.hasOwnProperty(name)) {
				    var val = entry[name];
				    
				  }
				 %>  <td><%= val %></td>
				 </tr>
			<% } %>
	</table>

</div>
<% } %>